body {
    background-image: hatterkocka.png;
        
}
p {
    color: #443507;
}
.jobbra {
    text-align: right;
}
.kozep {
    text-align:;
}
.cimkep {
    height: 170px;
}
.erdekesseg {
    font-style: italic;
    margin: 10px;
    background-color: lightgray;
}