body {
    background-image: hatterkocka.png;
    background-color: lightgray
        
}
p {
    color: #443507;
}
.jobbra {
    text-align: right;
}
.margo {
    background-color: white;
    margin: 10px;

}
.kozep {
    text-align:;
}
.cimkep {
    height: 170px;
}